.background {
    background-image: url(../../res/home-background1.jpg);
    background-size: cover;
    height: auto;
    width: 100%;
    padding: 100px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    backdrop-filter: blur(5px);
    border-color: var(--main-color);
    box-shadow: 0px 0px 30px 5px var(--main-color);
    border-radius: 10px;
    border-width: 2px;
    padding: 50px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    z-index: 0;
    width: 90%;
    min-width: 400px;
    font-family: var(--afacad);
    color: white
}

.container h1 {
    font-size: 39px;
    text-align: center;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 10px;
}

.search-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    flex-wrap: nowrap;
    gap: 10px;
    width: 380px;
}

.search-row input {
    width: 50%;
    font-family: var(--afacad);
    font-size: 20px
}

.search-row button {
    width: 50%;
    font-family: var(--afacad);
    color: white;
    background-color: var(--dark-purple-color);
    font-size: 20px;
    cursor: pointer;
}

select#sort-options {
    font-family: var(--afacad);
    font-size: 20px;
    width: 200px;
}

.book-container {
    font-family: var(--afacad);
    border-color: var(--main-color);
    box-shadow: 0px 0px 30px 5px var(--main-color);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    min-width: 380px;
    background-color: var(--main-color);
    overflow: scroll;
    height: 800px;
    scrollbar-color: var(--dark-purple-color) transparent;
    padding: 20px;
}

.book {
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 30px 5px white;
    border: white 2px solid;
    border-radius: 20px;
}

.upper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    gap: 20px;
    flex-flow: row;
    flex-wrap: wrap;
}

.lower {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.options {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modify {
    width: 30%;
    font-family: var(--afacad);
    color: white;
    background-color: var(--dark-purple-color);
    font-size: 20px;
    cursor: pointer;
}

.bookshelf-nav {
    font-family: var(--afacad);
    border-color: var(--main-color);
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    font-size: 20px;
    padding: 10px;
    gap: 20px;
}

.bookshelf-nav button {
    min-width: 90px;
    font-family: var(--afacad);
    color: white;
    background-color: var(--dark-purple-color);
    font-size: 20px;
    cursor: pointer;
}

.bookshelf-nav p {
    text-align: center;
    white-space: nowrap;
}

.edit-book {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 20px;
    max-width: 380px;
    border-top: white 2px dashed
}

.edit-book p {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: var(--afacad);
    width: 300px;
}

.edit-book input {
    color: black;
    font-size: 20px;
    font-family: var(--afacad);
    width: 300px;
}

.edit-book button {
    background-color: var(--dark-purple-color);
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: var(--afacad);
    width: 300px;
}

.bookshelf-add {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 20px;
    max-width: 380px;
    border-top: white 2px dashed
}

.bookshelf-add p {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: var(--afacad);
    width: 300px;
}

.bookshelf-add input {
    color: black;
    font-size: 20px;
    font-family: var(--afacad);
    width: 300px;
}

.bookshelf-add button {
    background-color: var(--dark-purple-color);
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: var(--afacad);
    width: 300px;
}