.help-main {
    margin-top: 120px;
    background-color: var(--main-color);
    padding: 50px;
    font-family: var(--afacad);
    color: white;
}

.help-main h1,
.help-main h2,
.help-main a {
    text-align: center;
}

.help-main h1 {
    font-size: 80px;
}

.help-main h1 span {
    color: var(--dark-purple-color);
}

.help-main h2 {
    font-size: 40px;
}

.help-main a {
    display: block;
    padding: 30px;
    font-size: 40px;
}