.about-introduction {
    margin-top: 120px;
    font-size: 16px;
    background-color: var(--main-color);
    display: flex;
    z-index: 1;
    height: auto;
}

.about-introduction-left,
.about-introduction-right {
    height: auto;
    color: white;
}

.about-introduction-left {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--inknut);
}

.about-introduction-left h1 {
    font-size: 4.5vw;
    text-align: center;
}

.about-introduction-left h1>span {
    color: var(--dark-purple-color);
}

.about-introduction-right {
    padding: 20px;
    width: 60%;
    font-family: var(--afacad);
    background-color: var(--dark-purple-color);
}

.about-introduction-right h2 {
    font-size: 1.7em;
    text-align: center;
}

.about-introduction-right p {
    font-size: 1.2em;
}

.about-team,
.about-techstack {
    background-color: var(--main-color);
    height: auto;
    border-top: 2px dashed white;
    font-family: var(--afacad);
}

.about-team h1,
.about-techstack h1 {
    color: white;
    text-align: center;
    font-size: 6vw;
}

.about-team p,
.about-techstack p {
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 0px;
    padding: 50px;
}

.about-team p span,
.about-team h1 span,
.about-techstack p span {
    color: var(--dark-purple-color);
}

p {
    padding: 50px;
}